{{ define "extra-head" }}
{{ if .Params.scfCorpus }}
{{ $scfStyles := resources.Get "css/scf-corpus.css" | fingerprint }}
<link rel="stylesheet" href="{{ $scfStyles.RelPermalink }}" integrity="{{ $scfStyles.Data.Integrity }}">
{{ $scfJS := slice (resources.Get "js/scf-explainer-model.js") (resources.Get "js/scf-explainer.js") (resources.Get "js/magnetism-model.js") (resources.Get "js/soc-scf-article.js") | resources.Concat "js/soc-scf-article.js" | minify | fingerprint }}
<script defer src="{{ $scfJS.RelPermalink }}" integrity="{{ $scfJS.Data.Integrity }}"></script>
{{ end }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body,{delimiters:[{left:'$$',right:'$$',display:true},{left:'\\[',right:'\\]',display:true},{left:'\\(',right:'\\)',display:false}],throwOnError:false});"></script>
{{ if .Params.anime }}
<script defer src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
<script defer src="/js/gpsk300.js"></script>
<script defer src="/js/gpac.js"></script>
{{ end }}
{{ end }}

{{ define "main" }}
{{ partial "project-content.html" . }}
{{ end }}
