{{ define "body-class" }}home-page{{ end }}

{{ define "main" }}
<div class="container">
    <header>
        <h1>Ghost Projects</h1>
        <p>
            Every great dream begins with a dreamer. Always remember,
            you have within you the strength, the patience,
            and the passion to reach for the stars, to change the world.
        </p>
        <p>Never stop chasing ghosts.</p>
    </header>


    <main>
        <nav class="project-grid">
            <a href="/project-014/" class="project-card project-014">
                <span class="project-number">014</span>
            </a>
            <a href="/about-us/" class="project-card about-us">
                <span class="project-number">About Us</span>
            </a>
            <a href="/blog/" class="project-card blog">
                <span class="project-number">Blog</span>
            </a>
        </nav>
    </main>
</div>
{{ end }}
