{{ define "body-class" }}home-page{{ end }}

{{ define "main" }}
<div class="container">
    <main>
        <nav class="project-grid">
            <a href="/project-014/" class="project-card project-014">
                <span class="project-number">014</span>
            </a>
            <a href="/about-us/" class="project-card about-us">
                <span class="project-number">About Us</span>
            </a>
            <a href="/blog/" class="project-card blog">
                <span class="project-number">Blog</span>
            </a>
        </nav>
    </main>
</div>
{{ end }}
